body {
  background-color: Cyan;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: DodgerBlue;
  padding: .5em;
  text-shadow:
    -.02em -.02em 0 #000,
    .02em -.02em 0 #000,
    -.02em .02em 0 #000,
    .02em .02em 0 #000;
}

.canvas-container {
  border: .5em solid Black;
  border-radius: 1em;
  padding: 0;
  display: inline-block;
}

.palette-container {
  margin-top: 5.5em;
  border: .2em solid black;
  border-radius: .4em;
  display: inline-block;
}

.col-custom {
  text-align: center;
}

.color-picker {
  margin-top: 1em;
  display: inline-block;
}

.color-picker-input {
  height: 3em;
  width: 6em;
}

.reset-button {
  display: block;
  margin: auto;
}

.canvas {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
}

.palette {
  border-spacing: .5em;
  margin: auto;
  border-collapse: separate;
  background-color: white;
}

.canvas td {
  border: .1em solid black;
  background-color: White;
}

.canvas td {
  width: 1em;
  height: 1em;
}

.palette td {
  width: 3em;
  height: 3em;
}

.reset-button {
  margin-top: 1em;
  font-size: 1em;
}

footer {
  margin: 1em;
}
