h1 {
  text-align: center;
}

.container {
  text-align: center;
}

table {
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

tr td {
  margin: 0;
}

tr {
  display: block;
}

td {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}
